/* * {
  box-sizing: border-box;
} */
/* 
ul {
  display: flex;
  flex-direction: row;
}

.card {
  border: 5px solid red;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.meal-title {
  font-size: 1.5rem;
  font-weight: bold;
} */
