@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "theme.css";
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b63737;
}

nav > h1 {
  font-family: "Montserrat";
  color: white;
  text-align: center;
  padding: 0;
  font-size: 3rem;
  margin: 10px 0px 5px 0px;
}

nav > h3 {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0;
  margin: 5px 20px 10px 20px;
}

.navbar-link {
  text-decoration: none !important;
  color: white;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  background-color: #b63737;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer-small {
  margin-top: auto;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  border: 5px solid red;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.meal-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(26, 204, 26);
}

.reservation-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.description-button {
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
}

.description-button:hover {
  color: red;
  font-weight: bold;
  background-color: transparent;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mealdetails-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reservation-form-container {
  border: 3px solid rgb(26, 204, 26);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.reservation-form-input {
  margin: 1rem;
  padding: 0.5rem;
}
